header {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Meddon', cursive;
    font-size: 25pt;
    margin-top: 20px;
}

.h1 a {
    color: #E8B4C3
}

.h1 a:hover {
    text-decoration: none
}

h2 {
    font-family: 'Libre Baskerville', italic;
    font-size: 24pt;
    color: #8F7878;
    padding: 20px;
}

a {
    color: #8F7878;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

body {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #8F7878;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #FCF9FA
}

main {
    margin-bottom: 50px;
}

button {
    background-color: #E8B4C3;
    color: #FFFFFF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Libre Baskerville', italic;
    font-size: 16px;
}

a button:hover{
    background-color: #8F7878;
    text-decoration: underline;
    cursor:pointer;
}

footer {
    text-align: left;
    background-color: #E8B4C3;
    padding: 20px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 10pt;
    
}

.h1 {
    margin-top: 0px;
    padding-top: 0px;
}

.nav nav a {
    font-size: 10pt;
    color: #8F7878;
    padding: 15px;
    text-align: left
}

.nav {
    padding-bottom: 20px;
}

footer h2 {
    padding: 5px;
    font-size: 14pt
}

footer ul li {
    font-size: 10pt
}

footer p {
    text-align: center
}

.freeshipping {
    font-size: 10pt;
    background-color: #E8B4C3;
    padding: 10px;
    color: #FFFFFF;
    width: 100%;
}

.shop_icons {
    font-size: 15pt
}

.shop_icons ul {
    margin-right: 175px;
    margin-bottom:0px;
    padding: 0;
    overflow: hidden;
}

.shop_icons li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    float: right
}

.shop_icons a {
    color: #8F7878;
    display: block;
    text-align: center;
    padding: 0px;
}

.shop_icons a:hover {
    color: #635353
}

.collections {
    width: 1225px;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    background-color: #f7d7e0;
}

.collections a {
    transition: .5s ease;
    backface-visibility: hidden;
}

.collections a:hover {
    opacity: .5;
}

.item_list {
    font-size: 12pt;
    line-height: 10pt;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding-bottom: 30px;
    
}

.collections img {
    width: 300px;
    height: 300px;
    padding: 10px
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
   background-color: #8F7878;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Libre Baskerville', italic;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%
}

.links {
    margin-left: 70px
}

.links p {
    text-align: left;
    line-height: 10pt;
}

.newsletter p {
    text-align: left;
    font-size: 14pt;
}
.social nav {
    text-align: center;
    padding-bottom: 0px
}

.social a {
    color: #8F7878;
    text-align: center
}

.social a:hover {
    color: #635353
}

.social i {
    font-size: 25pt;
    padding: 10px;
}

.bottom p {
    font-size: 8pt;
    padding: 10px;
    text-align: center
}

.filters {
    text-align: left;
    padding-left: 60px;
    padding-top: 20px;
}

.filters nav a {
    font-size: 10pt;
    font-kerning: 20pt;
    padding: 15px
}

.page_button p {
    font-size: 10pt;
}

.page_button buy button {
    margin: 5px;
    padding: 10px;
    background-color: #8F7878;
}

.page_button .buy button:hover {
    background-color: #635353;
    text-decoration: none;
}


.item_info {
    display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
    padding-left: 90px;
    padding-right: 50px
}

.img_prv {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 110px
}


.product_name {
 margin-top: 0px
}

.box_2 {
    margin-top: 0px
}

.options {
    padding-top: 20px;
    padding-bottom: 35px
}

.buy {
    padding-bottom: 35px
}

.share {
    padding-bottom: 25px
}

.share nav a {
    padding: 20px
}

.product_name h2 {
 padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px
}

.heading p {
    font-style: italic;
    font-size: 10pt;
    line-height: 4pt;
    padding-bottom: 10px;
}

.product_name nav a:hover {
    text-decoration: none
}

select {
    width: 120px;
    font-family: 'Libre Baskerville', serif;
    border-style: none;
    color: #635353;
    background-color: #FFFFFF;
    padding: 10px
}

.options nav a {
    padding: 8px;

}

.buy nav a {
    padding: 10px 
}

.size_chart .sizeChart {
   padding-left: 20pt
}

table tr th {
    font-size: 10pt
}

table tr td {
    font-size: 10pt
}

.suggestions h2 {
    padding-bottom: 0px;
    margin-top: 50px
}

.reviews {
    text-align: left;
    padding-left: 40px
}
.reviews h2 {
    padding-bottom: 0px;
    text-align: center
}

.reviews p {
    font-style: italic
}

#review {
    margin-bottom: 50px
}